*{
  margin: 0px;
  padding: 0px;
}
a{
  text-decoration: none;
}
p{
  font-family: Lato;
  font-size: 14pt;
}
main{
  height: calc(100vh - 48px);
  width: 100%;
  background-color: $beige;
}

//hide mobile things
.nav_mobile{
  display: none;
}

//index
.index{
  height: 100vh;
  width: 100%;
}
form{
  box-sizing: border-box;
  width: 260px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: calc(50% - 130px);
}
.logo_small_green{
  width: 80px;
  display: block;
  margin: auto;
  padding-bottom: 40px;
}
#inlogForm{
  margin-top: -184px;

  .ww_vergeten{
    display: block;
    text-align: center;
    text-decoration: none;
    color: $green_dark;
    font-size: 10pt;
    padding: 19px 0px 0px 0px;
    font-family: Lato;
  }
}
input[type=text], input[type=password]{
  height: 35px;
  width: 100%;
  border: 1px solid $green_dark;
  box-sizing: border-box;
  margin: 6px 0px;
  font-size: 10pt;
  font-family: 'Lato', sans-serif;
  padding-left: 10pt;
}
.button{
  width: 100%;
  background-color: $green_dark;
  color: white;
  height: 35px;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-size: 12pt;
  font-weight: 700;
  text-align: center;
  margin: 6px 0px;
  border: none;
}

a .button{
  line-height: 25pt;
  background-color: $green_light;
}

//registreren
#reg_from{
  margin-top: -182px;

  input[type=text], input[type=password], input[type=submit]{
    box-sizing: border-box;
    height: 40px;
  }
  a .button{
    line-height: 30pt;
    background-color: $green_light;
    height: 40px;
  }
}

//map
nav{
  height: 48px;
  background-color: $green_dark;
  img:first-child{
    float: left;
    height: 40px;
    margin-top: 4px;
    margin-left: 10px;
  }
  ul{
    margin-top: 15px;
    float: left;
    li{
      list-style-type: none;
      font-family: Lato;
      font-size: 16px;
      display: inline;
      float: left;
      margin-left: 70px;
      text-transform: uppercase;
      font-weight: 300;
      a{
        color: white;
      }
    }
  }
  img:last-child{
    float: right;
    height: 30px;
    margin-top: 9px;
    margin-right: 20px;
  }
}

.main_with_nav{
  height: calc(100vh - 48px);
}

#search_div{
  width: 300px;
  height: 100%;
  float: left;
}
#form_search_desktop{
  position: relative;
  top: 0;
  margin-top: 25px;
  div{
    margin-bottom: 20px;
    label>span{
      font-family: Lato;
      font-size: 12px;
      padding-left: 3px;
      text-transform: uppercase;
    }
    input[type="checkbox"]{
      float: right;
      width: 25px;
      height: 25px;
    }
  }
}
#map{
  float: left;
  width: calc(100% - 600px);
  height: 100%;
}
#results{
  width: 300px;
  float: right;
  height: 100%;
}

//profile
#profile{
  width: 260px;
  display: block;
  margin: auto;
}

.profile_icon{
  width: 80px;
  display: block;
  margin: auto;
  padding-top: 40px;
}
#profile_info>p{
  text-align: justify;
  font-size: 12pt;
  text-transform: uppercase;
  line-height: 20pt;
}

#WW_change{
  margin-top: -118px;
}
