<script src="{{ 'js/utils.js' | prepend: site.baseurl }}"></script>
<script src="{{ 'js/wandelroutes.js' | prepend: site.baseurl }}"></script>
<script src="{{ 'js/main.js' | prepend: site.baseurl }}"></script>
<script src="{{ 'js/login_form_validation.js' | prepend: site.baseurl }}"></script>
<script src="{{ 'js/rig_form_validation.js' | prepend: site.baseurl }}"></script>
<script src="{{ 'https://maps.googleapis.com/maps/api/js?key=AIzaSyBor4Ubia9VE6npjvflRJCpNdOfdMuMINI' | prepend: site.baseurl }}"></script>
<script src="{{ 'js/google_map.js' | prepend: site.baseurl }}"></script>
<script src="{{ 'js/profile_actions.js' | prepend: site.baseurl }}"></script>



